.project-cursor-prev {
  position: fixed;
  top: 50%;
  left: 0;
  background-color: black;
}
.project-cursor-prev a {
  display: inline-block;
  padding: 8px 16px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-cursor-next {
  position: fixed;
  top: 50%;
  right: 0;
  background-color: black;
}
.project-cursor-next a {
  display: inline-block;
  padding: 8px 16px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  position: relative;
}
.img-container-1 img {
  object-fit: cover;
  object-position: center;
  height: 41vh;
  width: 100%;
  z-index: 1;
}
.img-container-1 {
  padding-top: 8vh;
}
.text-area-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60vw;
  margin: auto 20vw;
}
